.Header {
    background-color: #ffffff;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    
    margin-bottom: 10vh;
  }

.Test {
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.Body {
    padding-left: 10vh;
    padding-right: 10vh;
}

.Row {
    padding-bottom: 5vh;
}

.RowNoPadding {
    padding-bottom: 0vh;
}

.selfie {
    max-width: 100%;
    align-items: center;
    justify-content: center;
}

.gridBox {
}

.title {
    font-weight: bold;
}